.main-block{
    background: rgb(80, 80, 80);
    width: 400px;
    height: 400px;
}

.main-block *{
    transition-property: background;
    transition-duration: 0.5s;
    display: block;
}

.first{
    background: white;
    width: 30%;
    height: 60%;
    position: relative;
    float: left;
}

.second{
    background: yellow;
    position: relative;
    float: right;
    top: 0;
    width: 50%;
    height: 30%;
}

.thrid{
    width: 100%;
    height: 40%;
    float: left;
}
.thrid, .thrid > .a, .thrid > .b{
    background: green;
}
.thrid > .a{
    height: 40%;
    width: 40%;
    border-radius: 50%;
    top: 80%;
    left: 10%;
    position: relative;
}
.thrid > .b{
    width: 40%;
    height: 75%;
    position: relative;
    left: 60%;
    top: -115%;
}