.main{
    background: rgb(233, 233, 233);
    width: 700px;
    height: 450px;
    position: absolute;
    position: relative;
    overflow: hidden;
}
.main:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(233, 233, 233) url("images/layout.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
#img-description{
    width: 200px;
    height: 200px;
    float: left;
}
#img-description img{
    height: 100%;
}
#text-description{
    float: left;
}

.arduino-nano, .rs485-ttl, .raspberry, .rs485-usb,  .wifi, .ds18b20,
.solar-panel, .solar-panel-voltage, .solar-panel-amperage, .global-voltage,
.global-amperage, .reley, .main-door, .sg90-servo, .garage-door, .laser-receiver,
.laser, .window, .mg135-air, .pir, .rfid-rc522, .door, .air-pipe, .dht22, .peltye,
.dht11, .sun-light, .white-led-strip, .rgb-led-strip, .light-sensor
{
    display: block;
    position: relative;
    transition-property: opacity;
    transition-duration: 0.3s;
    cursor: pointer;
    font-size: 8px;
}

.arduino-nano-rs485-block, .wifi-ds18b20-block, .solar-panel-a-v-module,
.raspberry-rs485-block, .global-a-v-block, .main-door-servo-block,
.garage-input-block, .garage-door-block, .window-servo-pir-block, .servo-rfid-block,
.door-s90-pir2-block, .ventilation-block, .lights-block
{
    display: block;
    position: relative;
}

.arduino-nano:before, .rs485-ttl:before, .raspberry:before, .rs485-usb:before,  .wifi:before, .ds18b20:before,
.solar-panel:before, .solar-panel-voltage:before, .solar-panel-amperage:before, .global-voltage:before,
.global-amperage:before, .reley:before, .main-door:before, .sg90-servo:before, .garage-door:before, .laser-receiver:before,
.laser:before, .window:before, .mg135-air:before, .pir:before, .rfid-rc522:before, .door:before, .air-pipe:before, .dht22:before, .peltye:before,
.dht11:before, .sun-light:before, .white-led-strip:before, .rgb-led-strip:before, .light-sensor:before
{
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position-x: 50%;
    background-position-y: -10%;
}

/*colors(images)*/
.arduino-nano{
    background: rgb(126, 126, 241);
}
.arduino-nano:before{
    top: -40%;
    left: 14%;
    width: 73%;
    height: 170%;
    background: rgb(126, 126, 241) url("images/arduino_nano_terminal.jpg"); 
    background-size: 100% 100%;
    
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
.rs485-ttl{
    background: rgb(151, 0, 189);
}
.sg90-servo{
    background: rgb(255, 255, 159);
}
.pir{
    background: rebeccapurple;
}
.laser{
    background: rgb(218, 132, 132);
}
.window{
    background: tomato;
}
.laser-receiver{
    background: red;
}
.global-amperage{
    background: grey;
}
.global-voltage{
    background: rgb(165, 165, 165);
}
.solar-panel-amperage{
    background: rgb(73, 73, 73);
}
.solar-panel-voltage{
    background: rgb(150, 150, 150);
}
.solar-panel{
    background: black;
}
.solar-panel:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: black url("images/solar_panel.png"); 
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 160% 100%;
    background-position: 50%;
}
.wifi{
    background: white;
}
.ds18b20{
    background: whitesmoke;
}
.raspberry{
    background: green;
}
.rs485-usb{
    background: greenyellow;
}
.reley{
    background: rgb(173, 197, 126);
}
.mg135-air{
    background: turquoise;
}
.rfid-rc522{
    background: indianred;
}
.door{
    background: brown;
    color: white;
}
.garage-door{
    background: yellow;
}
.air-pipe{
    background: blue;
}
.dht22{
    background: wheat;
}
.peltye{
    background: fuchsia;
}
.dht11{
    background: darkcyan;
}
.sun-light{
    background: rgb(218, 218, 149);
}
.white-led-strip{
    background: white;
}
.rgb-led-strip{
    background: darkolivegreen;
}
.light-sensor{
    background: darkorchid;
}

/* lights block */
.lights-block{
    top: -133%;
    left: 30%;
    width: 10%;
    height: 10%;
}
.lights-block .rgb-led-strip{
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    width: 280%;
    top: -400%;
    left: -250%;
    height: 10%;
}
.lights-block .white-led-strip{
    width: 200%;
    height: 10%;
    top: -74%;
    left: 90%;
}
.lights-block .light-sensor{
    width: 25%;
    height: 20%;
}
.lights-block .light-sensor-1{
    top: -93.9%;
    left: 314%;
}
.lights-block .light-sensor-2{
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    top: -171%;
    left: 306%;
}

/* ventilation */
.ventilation-block{
    z-index: 0;
    top: -143%;
    left: 40.8%;
    width: 10%;
    height: 10%;
}
.air-pipe{
    height: 25%;
}
.air-pipe-1{
    width: 159%;
    top: -463%;
    left: -200%;
}
.air-pipe-2, .air-pipe-4, .dht22{
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
}
.air-pipe-2{
    top: -208%;
    left: -235%;
    width: 370%;
}
.air-pipe-3{
    width: 288%;
    left: -58%;
    top: 50%;
}
.air-pipe-4{
    width: 130%;
    left: 160%;
    top: -64%;
}
.dht22{
    width: 30%;
    height: 30%;
    left: 210%;
    top: -76%;
}
.peltye{
    width: 40%;
    height: 30%;
    top: -615%;
    left: -180%;
}
.ventilation-block .dht11{
    width: 30%;
    height: 30%;
}
.ventilation-block .dht11-1{
    top: -598%;
    left: -222%;
}
.ventilation-block .dht11-2{
    top: -64%;
    left: -58%;
}

/* door s90 pir */
.door-s90-pir2-block{
    top: -135.5%;
    left: 22.5%;
    width: 15%;
    height: 2%;
}
.door-s90-pir2-block .door{
    width: 60%;
    height: 100%;
    float: left;
}
.door-s90-pir2-block .sg90-servo{
    width: 20%;
    height: 100%;
    float: left;
    top: -100%;
    left: -15%;
}
.door-s90-pir2-block .pir{
    width: 20%;
    height: 100%;
    top: -100%;
    left: -15%;
    float: left;
}

/* out of house */
.reley{
    top: -74%;
    left: 65%;
    width: 10%;
    height: 8%;
    transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
}
.mg135-air{
    width: 8%;
    height: 6%;
    top: -86%;
    left: 14%;
}

/* servo rfid block */
.servo-rfid-block{
    top: -107.3%;
    left: 63%;
    width: 4%;
    height: 4%;
}
.servo-rfid-block .sg90-servo{
    height: 50%;
    width: 100%;
}
.rfid-rc522{
    height: 50%;
    width: 100%;
}

/* window servo pir block */
.window-servo-pir-block{
    top: -125%;
    left: 74.5%;
    width: 15%;
    height: 2%;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
}
.window-servo-pir-block .window{
    height: 100%;
    width: 60%;
    float: left;
}
.window-servo-pir-block .sg90-servo{
    height: 100%;
    width: 20%;
    float: left;
    top: -100%;
}
.window-servo-pir-block .pir{
    height: 100%;
    width: 20%;
    float: left;
    top: -100%;
}

/* windows */
.window-second{
    top: -115%;
    left: 13.6%;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    width: 9%;
    height: 2%;
}

/* garage door block */
.garage-input-block{
    top: -170.9%;
    width: 10%;
    height: 6%;
    left: 65%;
}
.garage-input-block .sg90-servo{
    width: 30%;
    height: 45%;
    float: left;
    left: 133%;
}
.garage-input-block .garage-door{
    float: left;
    width: 160%;
    left: -21%;
    height: 55%;
}
.garage-input-block .laser-receiver{
    float: left;
    width: 20%;
    height: 45%;
    left: 130%;
    top: 30%;
}
.garage-input-block .laser{
    float: left;
    width: 20%;
    height: 45%;
    left: -60%;
    top: 30%;
}

/* main door sg90 */
.main-door-servo-block{
    top: -83.5%;
    left: 44%;
    width: 8%;
    height: 2%;
}
.main-door-servo-block .door{
    width: 69%;
    height: 100%;
    float: left;
    height: 100%;
}
.main-door-servo-block .sg90-servo{
    width: 29%;
    margin-right: 1%;
    height: 100%;
    float: left;
}

/* global amperage and voltage block */
.global-amperage, .global-voltage{
    height: 100%;
    width: 48%;
    float: left;
    margin-left: 2%;
}
.global-a-v-block{
    top: -63%;
    left: 48%;
    width: 12%;
    height: 6%;
}

/* solar panel block */
.solar-panel-a-v-module{
    width: 17%;
    height: 45%;
    left: 39%;
    top: -100%;
}
.solar-panel{
    height: 80%;
    width: 100%;
    float: left;
}
.solar-panel-amperage, .solar-panel-voltage{
    height: 20%;
    width: 50%;
    float: left;
}
.sun-light{
    width: 70%;
    height: 2%;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    top: 34%;
    left: 80%;
}

/* wi-fi block */
.wifi{
    height: 60%;
}
.ds18b20{
    height: 40%;
    width: 70%;
}
.wifi-ds18b20-block{
    width: 8%;
    height: 8%;
    left: 1%;
    top: -36%;
}

/* raspbery block */
.raspberry{
    height: 70%;
}
.rs485-usb{
    height: 30%;
    width: 70%;
}
.raspberry-rs485-block{
    width: 8%;
    height: 15%;
    left: 1%;
    top: -7%;
}

/* arduino nano block */
.arduino-nano{
    height: 50%;
    width: 100%;
}
.rs485-ttl{
    height: 40%;
    width: 70%;
}
.arduino-nano-rs485-block{
    width: 6%;
    height: 11%;
}
.arduino-nano-rs485-block-1{
    top: 5%; left: 1%;
}
.arduino-nano-rs485-block-2{
    top: 8%; left: 1%;
}
.arduino-nano-rs485-block-3{
    top: 12%; left: 1%;
}
.arduino-nano-rs485-block-4{
    top: 18%; left: 1%;
}
.arduino-nano-rs485-block-5{
    top: -40%; left: 90%;
}
.arduino-nano-rs485-block-6{
    top: -30%; left: 90%;
}
.arduino-nano-rs485-block-7{
    top: -14%; left: 90%;
}
.arduino-nano-rs485-block-8{
    top: 1%; left: 90%;
}
