.main{
    background: rgb(209, 209, 209);
    width: 700px;
    height: 450px;
    position: absolute;
    position: relative;
    overflow: hidden;
}
.main:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(209, 209, 209) url("images/layout.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
.arduino-nano, .rs485-ttl, .arduino-nano-rs485-block,
.raspberry-rs485-block, .rasspberry, .rs485-usb{
    display: block;
    position: relative;
    transition-property: opacity;
    transition-duration: 0.3s;
    cursor: pointer;
}

.rasspberry{
    background: green;
    height: 70%;
}
.rs485-usb{
    background: greenyellow;
    height: 30%;
    width: 70%;
}
.raspberry-rs485-block{
    width: 8%;
    height: 15%;
    left: 1%;
    top: -7%;
}

.arduino-nano{
    background: rgb(126, 126, 241);
    height: 50%;
}
.rs485-ttl{
    background: rgb(151, 0, 189);
    height: 40%;
    width: 70%;
}

.arduino-nano-rs485-block{
    width: 8%;
    height: 11%;
}
.arduino-nano-rs485-block-1{
    top: 5%; left: 1%;
}
.arduino-nano-rs485-block-2{
    top: 15%; left: 1%;
}
.arduino-nano-rs485-block-3{
    top: 25%; left: 1%;
}
.arduino-nano-rs485-block-4{
    top: 35%; left: 1%;
}
.arduino-nano-rs485-block-5{
    top: -40%; left: 90%;
}
.arduino-nano-rs485-block-6{
    top: -30%; left: 90%;
}
.arduino-nano-rs485-block-7{
    top: -14%; left: 90%;
}
.arduino-nano-rs485-block-8{
    top: 1%; left: 90%;
}